@{
    ViewBag.Title = "Oh, Pickles!";
}
<div class="col-md-12 text-center">
    <p class="pickles">@ViewBag.Title</p>
    <h2 class="text-warning">An Error Has Occured</h2>
    <p>
        That was not supposed to happen! We will get right to work trying to fix the issue.<br />
        In the meantime, you can <a href="/">click here to return to the home page</a>, or try again.
        If behavior persists, please contact site administrator.
    </p>
    <img src="~/Content/imgstore/error.png" />
</div>
