@{
    ViewBag.Title = "A little bit about us";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <h1>Needles & Scratch</h1>
        <p class="text-lg">We are Needles & Scratch, one of few remaining vinyl record stores. We were founded in the late 80's. For the last 40 years, we have been providing our customers with the best music the market has to offer. We slightly favor 90's alternative, but we have music for everyone to enjoy.</p>
    </div>
</div>